<div class="about-sidebar">
    <div class="gradient-layer"></div>
    <div class="close-sidebar-widget close-button">
        <span class="fa-solid fa-xmark fa-fw"></span>
    </div>
    <div class="sidebar-inner">
        <div class="upper-box">
            <div class="image">
                <img src="assets/images/resource/about-1i.jpg" alt="" />
            </div>
            <div class="content-box">
                <h3>About <span>iLearningHubb</span></h3>
                <div class="text">At iLearningHubb, we spark curiosity and build confidence through playful learning.
                    Our programs are designed to inspire young minds, encourage growth, and make education truly joyful.
                </div>
                <ul class="about-sidebar_list">
                    <li>Engaging Curriculum</li>
                    <li>Expert Instructors</li>
                    <li>Safe Environment</li>
                    <li>Fun and Adventure</li>
                </ul>
            </div>
        </div>
        <div class="social-box">
            <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>