<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>iLearningHubb</title>
    <!-- Stylesheets -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/meanmenu.min.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet" />

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon" />

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!--[if lt IE 9
            ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
        ><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>
        <!-- End Preloader -->
        {{> navbar}}

        {{{body}}}
        <!-- Main Footer -->
        <footer class="main-footer">
            <div class="color-one"></div>
            <div class="color-two"></div>
            <div class="main-footer_icon" style="
                        background-image: url(assets/images/icons/icon-7.png);
                    "></div>

            <div class="footer-upper_box">
                <div class="auto-container">
                    <div class="newsletter-one">
                        <div class="newsletter-one_pattern" style="
                                    background-image: url(assets/images/background/pattern-2.png);
                                "></div>
                        <div class="newsletter-one_pattern-two" style="
                                    background-image: url(assets/images/background/pattern-3.png);
                                "></div>
                        <div class="row clearfix">
                            <div class="column col-lg-6 col-md-12 col-sm-12">
                                <div class="newsletter-one_title">NEWSLETTER</div>
                                <h2 class="newsletter-one_heading">Sign up to Our Newsletter for Latest
                                    Update</h2>
                            </div>
                            <div class="column col-lg-6 col-md-12 col-sm-12">
                                <div class="newsletter-box">
                                    <form method="post" action="contact.html">
                                        <div class="form-group">
                                            <span class="icon fa-regular fa-envelope fa-fw"></span>
                                            <input type="email" name="search-field" value=""
                                                placeholder="Enter Email Here" required />
                                            <button type="submit" class="template-btn btn-style-one">
                                                <span class="btn-wrap">
                                                    <span class="text-one">Subscribe Now
                                                        <i class="flaticon-next-1"></i></span>
                                                    <span class="text-two">Subscribe Now
                                                        <i class="flaticon-next-1"></i></span>
                                                </span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">
                                <div class="footer_column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget">
                                        <div class="footer-logo"><a href="index.html"><img
                                                    src="assets/images/footer-logo.png" alt="" title="" /></a></div>
                                        <div class="footer-text">Lorem ipsum dolor sit amet
                                            consectetur adipiscing elit Ut
                                            et massa mi. Aliquam in
                                            hendrerit urna.</div>
                                        <div class="footer_socials">
                                            <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                            <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                            <a href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                                            <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                        </div>
                                    </div>
                                </div>

                                <div class="footer_column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget links-widget">
                                        <h5 class="footer-title">Programs</h5>
                                        <ul class="footer-list">
                                            <li><a href="#">Fun & Fitness</a></li>
                                            <li><a href="#">Sports Spectacular</a></li>
                                            <li><a href="#">Nature's Gymnasts</a></li>
                                            <li><a href="#">Warrior Training</a></li>
                                            <li><a href="#">Adventure Explorers</a></li>
                                            <li><a href="#">Champions Camp</a></li>
                                            <li><a href="#">Team Building</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="big-column col-lg-6 col-md-12 col-sm-12">
                            <div class="row clearfix">
                                <div class="footer_column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget links-widget">
                                        <h5 class="footer-title">Resources</h5>
                                        <ul class="footer-list">
                                            <li><a href="#">Blog</a></li>
                                            <li><a href="#">FaQs</a></li>
                                            <li><a href="#">Help Center</a></li>
                                            <li><a href="#">Case Studies</a></li>
                                            <li><a href="#">Whitepapers</a></li>
                                            <li><a href="#">services</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="footer_column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget instagram-widget">
                                        <h5 class="footer-title">Gallery</h5>
                                        <div class="images-outer clearfix">
                                            <figure class="image-box"><a class="lightbox-image"
                                                    href="assets/images/gallery/1.jpg"><img
                                                        src="assets/images/gallery/instagram-1.jpg" alt="" /></a>
                                            </figure>
                                            <figure class="image-box"><a class="lightbox-image"
                                                    href="assets/images/gallery/2.jpg"><img
                                                        src="assets/images/gallery/instagram-2.jpg" alt="" /></a>
                                            </figure>
                                            <figure class="image-box"><a class="lightbox-image"
                                                    href="assets/images/gallery/3.jpg"><img
                                                        src="assets/images/gallery/instagram-3.jpg" alt="" /></a>
                                            </figure>
                                            <figure class="image-box"><a class="lightbox-image"
                                                    href="assets/images/gallery/4.jpg"><img
                                                        src="assets/images/gallery/instagram-4.jpg" alt="" /></a>
                                            </figure>
                                            <figure class="image-box"><a class="lightbox-image"
                                                    href="assets/images/gallery/5.jpg"><img
                                                        src="assets/images/gallery/instagram-5.jpg" alt="" /></a>
                                            </figure>
                                            <figure class="image-box"><a class="lightbox-image"
                                                    href="assets/images/gallery/6.jpg"><img
                                                        src="assets/images/gallery/instagram-6.jpg" alt="" /></a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="column col-lg-6 col-md-12 col-sm-12">
                            <div class="copyright">Copyright &copy; 2024 Kidscamp All Rights
                                Reserved</div>
                        </div>
                        <div class="column col-lg-6 col-md-12 col-sm-12">
                            <div class="designs_by">Design with
                                <i class="fa-solid fa-heart fa-fw"></i> by
                                Themeim
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <div class="search-popup">
            <div class="color-layer"></div>
            <button class="close-search"><span class="flaticon-close"></span></button>
            <form method="post" action="blog.html">
                <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="Search Here" required="" />
                    <button class="fa fa-solid fa-magnifying-glass fa-fw" type="submit"></button>
                </div>
            </form>
        </div>
    </div>

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/parallax.min.js"></script>
    <script src="assets/js/tilt.jquery.min.js"></script>
    <script src="assets/js/jquery.paroller.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/backtotop.js"></script>
    <script src="assets/js/odometer.js"></script>
    <script src="assets/js/parallax-scroll.js"></script>

    <script src="assets/js/gsap.min.js"></script>
    <script src="assets/js/SplitText.min.js"></script>
    <script src="assets/js/ScrollTrigger.min.js"></script>
    <script src="assets/js/ScrollToPlugin.min.js"></script>
    <script src="assets/js/ScrollSmoother.min.js"></script>

    <script src="assets/js/magnific-popup.min.js"></script>
    <script src="assets/js/nav-tool.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/jquery.countdown.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>