<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>iLearningHubb</title>
    <!-- Stylesheets -->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/style.css" rel="stylesheet" />
    <link href="assets/css/meanmenu.min.css" rel="stylesheet" />
    <link href="assets/css/responsive.css" rel="stylesheet" />

    <!-- Google Fonts - Modern Font Stack -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
        rel="stylesheet" />

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/x-icon" />
    <link rel="icon" href="assets/images/favicon.png" type="image/x-icon" />

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!--[if lt IE 9
            ]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script
        ><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

    <style>
        /* Modern Font Stack */
        body {
            font-family: 'Poppins', 'Inter', 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Playfair Display', serif !important;
        }

        /* Custom styles for newsletter in footer */
        .newsletter-one {
            padding: 25px 50px !important;
            /* Reduced padding */
        }

        .newsletter-box {
            margin-top: 10px !important;
        }

        .newsletter-box .form-group input[type="text"],
        .newsletter-box .form-group input[type="email"] {
            height: 60px !important;
        }

        .newsletter-box .form-group .icon {
            top: 15px !important;
        }

        .newsletter-box .form-group button {
            top: 6px !important;
            padding: 14px 30px !important;
        }

        .footer-social-media {
            margin-bottom: 10px;
        }

        .pt-0 {
            padding-top: 0 !important;
        }

        .copyright {
            font-family: 'Playfair Display', serif !important;
        }
    </style>
</head>

<body>
    <div class="page-wrapper">
        <!-- Preloader -->
        <div class="preloader"></div>
        <!-- End Preloader -->
        {{> navbar}}

        {{{body}}}
        <!-- Main Footer -->
        <footer class="main-footer" style="position: relative; margin-top: 150px;">
            <!-- More complex wave SVG that better matches the reference image -->
            <div class="footer-wave"
                style="position: absolute; top: -150px; left: 0; width: 100%; height: 150px; overflow: hidden;">
                <svg viewBox="0 0 1440 150" preserveAspectRatio="none" style="width: 100%; height: 100%;">
                    <path fill="#002e4d" d="M0,64 
                C180,120 300,0 480,64 
                C660,128 780,32 960,64 
                C1140,96 1260,0 1440,64 
                L1440,150 L0,150 Z">
                    </path>
                </svg>
            </div>
            <div class="color-one"></div>
            <div class="color-two"></div>
            <div class="main-footer_icon" style="
                        background-image: url(assets/images/icons/icon-7.png);
                    "></div>

            <div class="footer-upper_box">
                <div class="auto-container">
                    <div class="newsletter-one">
                        <div class="newsletter-one_pattern" style="
                                    background-image: url(assets/images/background/pattern-2.png);
                                "></div>
                        <div class="newsletter-one_pattern-two" style="
                                    background-image: url(assets/images/background/pattern-3.png);
                                "></div>
                        <div class="row clearfix">
                            <div class="column col-lg-6 col-md-12 col-sm-12">
                                <div class="newsletter-one_title">NEWSLETTER</div>
                                <h2 class="newsletter-one_heading">Sign up to Our Newsletter for Latest
                                    Update</h2>
                            </div>
                            <div class="column col-lg-6 col-md-12 col-sm-12">
                                <div class="newsletter-box">
                                    <form method="post" action="contact.html">
                                        <div class="form-group">
                                            <span class="icon fa-regular fa-envelope fa-fw"></span>
                                            <input type="email" name="search-field" value=""
                                                placeholder="Enter Email Here" required />
                                            <button type="submit" class="template-btn btn-style-one">
                                                <span class="btn-wrap">
                                                    <span class="text-one">Subscribe Now
                                                        <i class="flaticon-next-1"></i></span>
                                                    <span class="text-two">Subscribe Now
                                                        <i class="flaticon-next-1"></i></span>
                                                </span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="widgets-section">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!-- Column 1: Logo and contact info -->
                        <div class="big-column col-lg-4 col-md-12 col-sm-12">
                            <div class="footer_column">
                                <div class="footer-widget">
                                    <div class="footer-logo">
                                        <a href="/"><img src="assets/images/footer-logo.png" alt="iLearningHubb Logo"
                                                title="iLearningHubb"
                                                style="margin-left: -19px; height: 150px; object-fit: contain;" /></a>
                                    </div>
                                    <div class="footer-text">Inspiring young minds every step of the way. Building
                                        brighter futures through fun, safe, and engaging educational experiences.</div>

                                </div>
                            </div>
                        </div>

                        <!-- Column 2: Quick Links -->
                        <div class="big-column col-lg-5 col-md-12 col-sm-12">
                            <div class="row clearfix">
                                <div class="footer_column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget links-widget">
                                        <h5 class="footer-title">Quick Links</h5>
                                        <ul class="footer-list">
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/about-us">About Us</a></li>
                                            <li><a href="/about-bootcamp">About Bootcamp</a></li>
                                            <li><a href="/contact">Contact Us</a></li>
                                            <li><a href="/register">Register</a></li>
                                            <li><a href="/events">Events</a></li>
                                            <li><a href="/programs">Programs</a></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="footer_column col-lg-6 col-md-6 col-sm-12">
                                    <div class="footer-widget links-widget">
                                        <h5 class="footer-title">Programs</h5>
                                        <ul class="footer-list">
                                            <li><a href="#">Fun & Fitness</a></li>
                                            <li><a href="#">Sports Spectacular</a></li>
                                            <li><a href="#">Nature's Gymnasts</a></li>
                                            <li><a href="#">Warrior Training</a></li>
                                            <li><a href="#">Adventure Explorers</a></li>
                                            <li><a href="#">Champions Camp</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Column 3: Social Media -->
                        <div class="big-column col-lg-3 col-md-12 col-sm-12">
                            <div class="footer_column">
                                <div class="footer-widget social-widget">
                                    <h5 class="footer-title">Our Socials</h5>
                                    <div class="footer-text">Stay updated with our latest news and events.</div>
                                    <ul class="social-list mt-3">
                                        <li class="footer-social-media">
                                            <a class="" href="https://facebook.com/">
                                                <span style="width: 30px; margin-right: 10px;"><i
                                                        class="fa-brands fa-facebook"></i> </span>
                                                Facebook
                                            </a>
                                        </li>
                                        <li class="footer-social-media">
                                            <a class="" href="https://twitter.com/">
                                                <span style="width: 30px; margin-right: 10px;"><i
                                                        class="fa-brands fa-twitter"></i> </span>
                                                Twitter
                                            </a>
                                        </li>
                                        <li class="footer-social-media">
                                            <a class="" href="https://youtube.com/">
                                                <span style="width: 30px; margin-right: 10px;"><i
                                                        class="fa-brands fa-youtube"></i> </span>
                                                YouTube
                                            </a>
                                        </li>
                                        <li class="footer-social-media">
                                            <a class="" href="https://instagram.com/">
                                                <span style="width: 30px; margin-right: 10px;"><i
                                                        class="fa-brands fa-instagram"></i> </span>
                                                Instagram
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer-bottom text-center">
                <div class="auto-container">
                    <div class="copyright">Copyright &copy; 2025 iLearningHubb · All Rights Reserved</div>
                    <div class="designs_by text-center mt-3">Created with <i class="fa-solid fa-heart fa-fw"></i> by
                        Ayub & Qasim
                    </div>
                </div>
            </div>
        </footer>

        <div class="search-popup">
            <div class="color-layer"></div>
            <button class="close-search"><span class="flaticon-close"></span></button>
            <form method="post" action="blog.html">
                <div class="form-group">
                    <input type="search" name="search-field" value="" placeholder="Search Here" required="" />
                    <button class="fa fa-solid fa-magnifying-glass fa-fw" type="submit"></button>
                </div>
            </form>
        </div>
    </div>

    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/parallax.min.js"></script>
    <script src="assets/js/tilt.jquery.min.js"></script>
    <script src="assets/js/jquery.paroller.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/backtotop.js"></script>
    <script src="assets/js/odometer.js"></script>
    <script src="assets/js/parallax-scroll.js"></script>

    <script src="assets/js/gsap.min.js"></script>
    <script src="assets/js/SplitText.min.js"></script>
    <script src="assets/js/ScrollTrigger.min.js"></script>
    <script src="assets/js/ScrollToPlugin.min.js"></script>
    <script src="assets/js/ScrollSmoother.min.js"></script>

    <script src="assets/js/magnific-popup.min.js"></script>
    <script src="assets/js/nav-tool.js"></script>
    <script src="assets/js/jquery-ui.js"></script>
    <script src="assets/js/jquery.countdown.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>