{{!-- About Page Template --}}
<div class="about-container">
    {{!-- Include the page content from the kidscamp about page --}}
    <iframe src="/about.html" style="width:100%; height:100vh; border:none;" title="About Page"></iframe>
</div> 