<section class="page-title" style="background-image:url(assets/images/background/page-title.jpg)">
    <div class="auto-container">
        <h1>About Us</h1>
        <ul class="bread-crumb clearfix">
            <li><a href="/">Home</a></li>
            <li>About Us</li>
        </ul>
    </div>
</section>

<section class="about-company-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="content-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <div class="sec-title_title">Our Story</div>
                        <h2 class="sec-title_heading">A Decade of <span>Excellence</span> in Children's Education</h2>
                        <div class="sec-title_text">iLearningHubb was founded with a simple mission: to create an enriching, supportive environment where children can discover their potential and develop the skills they need for future success. What started as a small summer program has grown into a comprehensive educational initiative that has touched the lives of thousands of children.</div>
                    </div>
                    
                    <div class="text-block">
                        <h4>Our Mission</h4>
                        <p>To inspire and empower the next generation by providing engaging, innovative educational experiences that foster creativity, critical thinking, and personal growth.</p>
                    </div>
                    
                    <div class="text-block">
                        <h4>Our Vision</h4>
                        <p>We envision a world where every child has access to quality education that nurtures their unique talents and prepares them to become confident, capable, and compassionate individuals.</p>
                    </div>
                    
                    <div class="text-block">
                        <h4>Our Values</h4>
                        <ul class="list-style-two">
                            <li><i class="fa fa-check-circle"></i> <strong>Excellence:</strong> We strive for the highest standards in everything we do</li>
                            <li><i class="fa fa-check-circle"></i> <strong>Integrity:</strong> We operate with honesty, transparency, and ethical principles</li>
                            <li><i class="fa fa-check-circle"></i> <strong>Innovation:</strong> We constantly seek new and improved ways to engage and educate</li>
                            <li><i class="fa fa-check-circle"></i> <strong>Inclusion:</strong> We welcome children of all backgrounds and abilities</li>
                            <li><i class="fa fa-check-circle"></i> <strong>Compassion:</strong> We lead with empathy and care in all interactions</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box">
                        <div class="row">
                            <div class="col-6 mb-4">
                                <img src="assets/images/resource/about-1i.jpg" alt="">
                            </div>
                            <div class="col-6 mb-4">
                                <img src="assets/images/resource/about-2i.jpg" alt="">
                            </div>
                            <div class="col-6">
                                <img src="assets/images/resource/about-5i.jpg" alt="">
                            </div>
                            <div class="col-6">
                                <img src="assets/images/main-slider/image1i.JPG" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="team-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <div class="sec-title_title">Meet Our Team</div>
            <h2 class="sec-title_heading">The Dedicated <span>Professionals</span> <br>Behind Our Success</h2>
            <div class="sec-title_text">Our team consists of passionate educators, child development specialists, and support staff who are committed to providing the best possible experience for every child.</div>
        </div>
        
        <div class="row clearfix">
            <div class="team-member-column col-lg-4 col-md-6 col-sm-12">
                <div class="team-block_one">
                    <div class="team-block_one-inner">
                        <div class="team-block_one-image">
                            <img src="assets/images/resource/team-1.png" alt="" />
                            <div class="team-block_one-overlay">
                                <div class="team-block_one-socials">
                                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-block_one-content">
                            <h4 class="team-block_one-heading"><a href="team-detail.html">Ronald Richards</a></h4>
                            <div class="team-block_one-designation">Program Director</div>
                            <div class="team-block_one-text">With over 15 years of experience in childhood education, Ronald brings passion and expertise to every program.</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="team-member-column col-lg-4 col-md-6 col-sm-12">
                <div class="team-block_one">
                    <div class="team-block_one-inner">
                        <div class="team-block_one-image">
                            <img src="assets/images/resource/team-2.png" alt="" />
                            <div class="team-block_one-overlay">
                                <div class="team-block_one-socials">
                                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-block_one-content">
                            <h4 class="team-block_one-heading"><a href="team-detail.html">Guey Hawkins</a></h4>
                            <div class="team-block_one-designation">Lead Instructor</div>
                            <div class="team-block_one-text">Guey specializes in creating engaging, hands-on activities that make learning fun and memorable for children of all ages.</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="team-member-column col-lg-4 col-md-6 col-sm-12">
                <div class="team-block_one">
                    <div class="team-block_one-inner">
                        <div class="team-block_one-image">
                            <img src="assets/images/resource/team-3.png" alt="" />
                            <div class="team-block_one-overlay">
                                <div class="team-block_one-socials">
                                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-block_one-content">
                            <h4 class="team-block_one-heading"><a href="team-detail.html">Courtney Henry</a></h4>
                            <div class="team-block_one-designation">Curriculum Developer</div>
                            <div class="team-block_one-text">Courtney designs our educational programs with a perfect balance of learning and fun to ensure meaningful development.</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="team-member-column col-lg-4 col-md-6 col-sm-12">
                <div class="team-block_one">
                    <div class="team-block_one-inner">
                        <div class="team-block_one-image">
                            <img src="assets/images/resource/team-4.png" alt="" />
                            <div class="team-block_one-overlay">
                                <div class="team-block_one-socials">
                                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-block_one-content">
                            <h4 class="team-block_one-heading"><a href="team-detail.html">Sarah Johnson</a></h4>
                            <div class="team-block_one-designation">Child Development Specialist</div>
                            <div class="team-block_one-text">Sarah ensures our programs support children's holistic development, addressing social, emotional, and cognitive needs.</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="team-member-column col-lg-4 col-md-6 col-sm-12">
                <div class="team-block_one">
                    <div class="team-block_one-inner">
                        <div class="team-block_one-image">
                            <img src="assets/images/resource/team-5.png" alt="" />
                            <div class="team-block_one-overlay">
                                <div class="team-block_one-socials">
                                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-block_one-content">
                            <h4 class="team-block_one-heading"><a href="team-detail.html">Michael Rodriguez</a></h4>
                            <div class="team-block_one-designation">Sports & Activities Coordinator</div>
                            <div class="team-block_one-text">Michael brings energy and expertise to our physical activities, ensuring kids stay active while having fun and building skills.</div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="team-member-column col-lg-4 col-md-6 col-sm-12">
                <div class="team-block_one">
                    <div class="team-block_one-inner">
                        <div class="team-block_one-image">
                            <img src="assets/images/resource/team-6.png" alt="" />
                            <div class="team-block_one-overlay">
                                <div class="team-block_one-socials">
                                    <a href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="https://instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                                    <a href="https://linkedin.com/"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-block_one-content">
                            <h4 class="team-block_one-heading"><a href="team-detail.html">Emily Chen</a></h4>
                            <div class="team-block_one-designation">Family Engagement Specialist</div>
                            <div class="team-block_one-text">Emily works closely with parents to ensure seamless communication and continued learning beyond our programs.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="join-team-section" style="background-color: #f9f9f9;">
    <div class="auto-container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="content-box">
                    <h2>Join Our Team</h2>
                    <p>We're always looking for passionate individuals who want to make a difference in children's lives. If you're interested in joining our team, we'd love to hear from you!</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 text-end">
                <a href="contact.html" class="theme-btn btn-style-one">
                    <span class="btn-wrap">
                        <span class="text-one">Contact Us <i class="flaticon-next-1"></i></span>
                        <span class="text-two">Contact Us <i class="flaticon-next-1"></i></span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>

<style>
    .about-company-section {
        padding: 100px 0 70px;
    }
    
    .text-block {
        margin-bottom: 25px;
    }
    
    .text-block h4 {
        font-size: 20px;
        margin-bottom: 10px;
        color: #333;
    }
    
    .list-style-two {
        padding-left: 0;
        list-style: none;
    }
    
    .list-style-two li {
        margin-bottom: 10px;
        position: relative;
    }
    
    .list-style-two li i {
        color: #F9A826;
        margin-right: 10px;
    }
    
    .image-box img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .team-section {
        padding: 100px 0;
    }
    
    .team-member-column {
        margin-bottom: 30px;
    }
    
    .team-block_one-text {
        margin-top: 10px;
        font-size: 14px;
        color: #666;
    }
    
    .join-team-section {
        padding: 60px 0;
    }
    
    .join-team-section h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }
    
    .join-team-section p {
        font-size: 16px;
        margin-bottom: 0;
    }
</style> 