<!-- Page Title -->
<section class="page-title">
    <div class="color-one"></div>
    <div class="color-two"></div>
    <div class="color-three"></div>
    <div class="color-four"></div>
    <div class="auto-container">
        <h2>Contact Us</h2>
        <ul class="bread-crumb clearfix">
            <li><a href="/"><i class="flaticon-home"></i> Kidscamp</a></li>
            <li>Contact Us</li>
        </ul>
    </div>
    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <defs>
                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
            </defs>
            <g class="parallaxx">
                <use xlink:href="#gentle-wave" x="148" y="0" fill="rgba(255,255,255,0.7" />
                <use xlink:href="#gentle-wave" x="100" y="3" fill="rgba(255,255,255,0.5)" />
                <use xlink:href="#gentle-wave" x="70" y="5" fill="rgba(255,255,255,0.3)" />
                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
            </g>
        </svg>
    </div>
    <!--Waves end-->
</section>
<!-- End Page Title -->

<!-- Contact Info -->
<section class="contact-info">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Info Block Two -->
            <div class="info-block_two col-lg-4 col-md-6 col-sm-12">
                <div class="info-block_two-inner">
                    <div class="info-block_two-icon">
                        <i class="flaticon-phone-call"></i>
                    </div>
                    <h4>Phone Number</h4>
                    <a href="tel:+415-864-8728">(225) 555-0118</a> <br>
                    <a href="tel:+415-864-8729">(702) 555-0122</a>
                </div>
            </div>

            <!-- Info Block Two -->
            <div class="info-block_two col-lg-4 col-md-6 col-sm-12">
                <div class="info-block_two-inner">
                    <div class="info-block_two-icon">
                        <i class="flaticon-pin"></i>
                    </div>
                    <h4>Our Location</h4>
                    <div class="text">Stockton, New Hampshire, 908 <br> hamsarburg, London, UK</div>
                </div>
            </div>

            <!-- Info Block Two -->
            <div class="info-block_two col-lg-4 col-md-6 col-sm-12">
                <div class="info-block_two-inner">
                    <div class="info-block_two-icon">
                        <i class="flaticon-mail"></i>
                    </div>
                    <h4>Email Address</h4>
                    <a href="mailto:Support@kidscamp.com">Support@kidscamp.com</a> <br>
                    <a href="mailto:info@kidscamp.com">info@kidscamp.com</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Faq One -->

<!-- Contact Form -->
<section class="contact-form-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Column -->
            <div class="form-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <h3>Contact Us Right Now</h3>
                    <div class="text">Your email address will not be published. Required fields are marked *</div>
                    <div class="default-form contact-form">
                        <form method="post" action="sendemail.php" id="contact-form">
                            <div class="row clearfix">
                                <!--Form Group-->
                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                    <input type="text" name="name" value="" placeholder="Name" required>
                                </div>
                                <!--Form Group-->
                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                    <input type="email" name="email" value="" placeholder="Email" required>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                    <input type="text" name="phone" value="" placeholder="Phone" required>
                                </div>
                                <!--Form Group-->
                                <div class="form-group col-lg-6 col-md-6 col-sm-6">
                                    <select name="country" class="custom-select-box">
                                        <option>Select service</option>
                                        <option>Service 01</option>
                                        <option>Service 02</option>
                                        <option>Service 03</option>
                                    </select>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <textarea class="" name="message" placeholder="Type comment here*"></textarea>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <button type="button" class="template-btn btn-style-one">
                                        <span class="btn-wrap">
                                            <span class="text-one">Submit now <i class="flaticon-next-1"></i></span>
                                            <span class="text-two">Submit now <i class="flaticon-next-1"></i></span>
                                        </span>
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="map-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="map-one_map">
                        <iframe id="gmap_canvas"
                            src="https://maps.google.com/maps?q=636+5th+Ave%2C+New+York&t=&z=18&ie=UTF8&iwloc=&output=embed"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Form -->