<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-1">404</h1>
            <h2>{{data.error}}</h2>
            <p class="lead">{{data.message}}</p>
            <a href="/" class="btn btn-primary mt-3">Return to Home</a>
        </div>
    </div>
</div> 