<!-- Page Title Section -->
<section class="page-title" style="background-image: url(assets/images/background/pricing-bg.jpg);">
    <div class="auto-container">
        <h1>Pricing Plans</h1>
        <ul class="bread-crumb clearfix">
            <li><a href="/">Home</a></li>
            <li>Pricing</li>
        </ul>
    </div>
</section>
<!-- End Page Title Section -->

<!-- Price Section -->
<section class="price-one">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title style-two centered">
            <div class="sec-title_title">Our Pricing</div>
            <h2 class="sec-title_heading">Comprehensive <span>Pricing</span> Options for Kids</h2>
            <div class="sec-title_text">Choose the perfect plan for your child's learning journey. All plans include access to our supportive community and experienced instructors.</div>
        </div>
        <div class="pricing-tabs tabs-box">
            
            <!--Tab Btns-->
            <div class="buttons-outer">
                <ul class="tab-buttons clearfix">
                    <li data-tab="#prod-monthly" class="tab-btn active-btn">Monthly</li>
                    <li data-tab="#prod-yearly" class="tab-btn">Yearly</li>
                </ul>
            </div>
            
            <!--Tabs Container-->
            <div class="tabs-content">
                
                <!-- Tab -->
                <div class="tab active-tab" id="prod-monthly">
                    <div class="content">
                        <div class="row clearfix">
                            
                            <!-- Price Block One -->
                            <div class="price-block_one col-lg-4 col-md-6 col-sm-12">
                                <div class="price-block_one-inner">
                                    <div class="price-block_one-title">Basic Package</div>
                                    <div class="price-block_one-price"><sub>$</sub>39<sup>/mo</sup></div>
                                    <ul class="price-block_one-list">
                                        <li><i class="flaticon-check-mark"></i>Access to basic learning materials</li>
                                        <li><i class="flaticon-check-mark"></i>Weekly group sessions</li>
                                        <li><i class="flaticon-check-mark"></i>Email support</li>
                                        <li class="cancel"><i class="flaticon-close"></i>One-on-one sessions</li>
                                        <li class="cancel"><i class="flaticon-close"></i>Access to bonus content</li>
                                        <li class="cancel"><i class="flaticon-close"></i>Personalized learning plan</li>
                                    </ul>
                                    <div class="price-block_one-button">
                                        <a class="theme-btn price-one_button" href="/register.html">Select package <i class="flaticon-next-1"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Price Block One -->
                            <div class="price-block_one style-two col-lg-4 col-md-6 col-sm-12">
                                <div class="price-block_one-inner">
                                    <div class="price-block_one-icon" style="background-image:url(assets/images/icons/price-icon.png)"></div>
                                    <div class="price-block_one-title">Standard Package</div>
                                    <div class="price-block_one-price"><sub>$</sub>69<sup>/mo</sup></div>
                                    <ul class="price-block_one-list">
                                        <li><i class="flaticon-check-mark"></i>Access to all learning materials</li>
                                        <li><i class="flaticon-check-mark"></i>Weekly group sessions</li>
                                        <li><i class="flaticon-check-mark"></i>Email and phone support</li>
                                        <li><i class="flaticon-check-mark"></i>Monthly one-on-one session</li>
                                        <li class="cancel"><i class="flaticon-close"></i>Access to bonus content</li>
                                        <li class="cancel"><i class="flaticon-close"></i>Personalized learning plan</li>
                                    </ul>
                                    <div class="price-block_one-button">
                                        <a class="theme-btn price-one_button" href="/register.html">Select package <i class="flaticon-next-1"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Price Block One -->
                            <div class="price-block_one style-three col-lg-4 col-md-6 col-sm-12">
                                <div class="price-block_one-inner">
                                    <div class="price-block_one-title">Premium Package</div>
                                    <div class="price-block_one-price"><sub>$</sub>99<sup>/mo</sup></div>
                                    <ul class="price-block_one-list">
                                        <li><i class="flaticon-check-mark"></i>Access to all learning materials</li>
                                        <li><i class="flaticon-check-mark"></i>Weekly group sessions</li>
                                        <li><i class="flaticon-check-mark"></i>Priority email and phone support</li>
                                        <li><i class="flaticon-check-mark"></i>Bi-weekly one-on-one sessions</li>
                                        <li><i class="flaticon-check-mark"></i>Access to bonus content</li>
                                        <li><i class="flaticon-check-mark"></i>Personalized learning plan</li>
                                    </ul>
                                    <div class="price-block_one-button">
                                        <a class="theme-btn price-one_button" href="/register.html">Select package <i class="flaticon-next-1"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <!-- Tab -->
                <div class="tab" id="prod-yearly">
                    <div class="content">
                        <div class="row clearfix">
                            
                            <!-- Price Block One -->
                            <div class="price-block_one col-lg-4 col-md-6 col-sm-12">
                                <div class="price-block_one-inner">
                                    <div class="price-block_one-title">Basic Package</div>
                                    <div class="price-block_one-price"><sub>$</sub>390<sup>/year</sup></div>
                                    <div class="price-block_one-save">Save $78</div>
                                    <ul class="price-block_one-list">
                                        <li><i class="flaticon-check-mark"></i>Access to basic learning materials</li>
                                        <li><i class="flaticon-check-mark"></i>Weekly group sessions</li>
                                        <li><i class="flaticon-check-mark"></i>Email support</li>
                                        <li class="cancel"><i class="flaticon-close"></i>One-on-one sessions</li>
                                        <li class="cancel"><i class="flaticon-close"></i>Access to bonus content</li>
                                        <li class="cancel"><i class="flaticon-close"></i>Personalized learning plan</li>
                                    </ul>
                                    <div class="price-block_one-button">
                                        <a class="theme-btn price-one_button" href="/register.html">Select package <i class="flaticon-next-1"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Price Block One -->
                            <div class="price-block_one style-two col-lg-4 col-md-6 col-sm-12">
                                <div class="price-block_one-inner">
                                    <div class="price-block_one-icon" style="background-image:url(assets/images/icons/price-icon.png)"></div>
                                    <div class="price-block_one-title">Standard Package</div>
                                    <div class="price-block_one-price"><sub>$</sub>690<sup>/year</sup></div>
                                    <div class="price-block_one-save">Save $138</div>
                                    <ul class="price-block_one-list">
                                        <li><i class="flaticon-check-mark"></i>Access to all learning materials</li>
                                        <li><i class="flaticon-check-mark"></i>Weekly group sessions</li>
                                        <li><i class="flaticon-check-mark"></i>Email and phone support</li>
                                        <li><i class="flaticon-check-mark"></i>Monthly one-on-one session</li>
                                        <li class="cancel"><i class="flaticon-close"></i>Access to bonus content</li>
                                        <li class="cancel"><i class="flaticon-close"></i>Personalized learning plan</li>
                                    </ul>
                                    <div class="price-block_one-button">
                                        <a class="theme-btn price-one_button" href="/register.html">Select package <i class="flaticon-next-1"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- Price Block One -->
                            <div class="price-block_one style-three col-lg-4 col-md-6 col-sm-12">
                                <div class="price-block_one-inner">
                                    <div class="price-block_one-title">Premium Package</div>
                                    <div class="price-block_one-price"><sub>$</sub>990<sup>/year</sup></div>
                                    <div class="price-block_one-save">Save $198</div>
                                    <ul class="price-block_one-list">
                                        <li><i class="flaticon-check-mark"></i>Access to all learning materials</li>
                                        <li><i class="flaticon-check-mark"></i>Weekly group sessions</li>
                                        <li><i class="flaticon-check-mark"></i>Priority email and phone support</li>
                                        <li><i class="flaticon-check-mark"></i>Bi-weekly one-on-one sessions</li>
                                        <li><i class="flaticon-check-mark"></i>Access to bonus content</li>
                                        <li><i class="flaticon-check-mark"></i>Personalized learning plan</li>
                                    </ul>
                                    <div class="price-block_one-button">
                                        <a class="theme-btn price-one_button" href="/register.html">Select package <i class="flaticon-next-1"></i></a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            
            </div>
        
        </div>
    </div>
</section>
<!-- End Price Section -->

<!-- FAQ Section -->
<section class="faq-one">
    <div class="outer-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!-- Title Column -->
                <div class="title-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Sec Title -->
                        <div class="sec-title style-two title-anim">
                            <div class="sec-title_title">Pricing FAQs</div>
                            <h2 class="sec-title_heading">Frequently Asked <span>Questions</span></h2>
                            <div class="sec-title_text">Have questions about our pricing plans? Find quick answers below or contact us for more detailed information.</div>
                        </div>
                        
                        <!-- Options Box -->
                        <div class="faq-one_options d-flex align-items-center flex-wrap">
                            
                            <!-- Button Box -->
                            <div class="faq-one_button">
                                <a href="/contact.html" class="theme-btn btn-style-one">
                                    <span class="btn-wrap">
                                        <span class="text-one">Contact Us <i class="flaticon-next-1"></i></span>
                                        <span class="text-two">Contact Us <i class="flaticon-next-1"></i></span>
                                    </span>
                                </a>
                            </div>
                            
                            <!-- Phone Box -->
                            <a class="faq-one_phone" href="tel:+{{data.settings.brandMobile}}"><i class="flaticon-call"></i> {{data.settings.brandMobile}}</a>
                            
                        </div>
                    </div>
                </div>
                <!-- Accordion Column -->
                <div class="accordion-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        
                        <!-- Accordion Box -->
                        <ul class="accordion-box">
                            
                            <!-- Block -->
                            <li class="accordion block active-block">
                                <div class="acc-btn active"><div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span></div>What's included in each pricing plan?</div>
                                <div class="acc-content current">
                                    <div class="content">
                                        <p>Each plan includes different levels of access to our learning materials, group sessions, and support options. The higher-tier plans include one-on-one sessions, personalized learning plans, and exclusive content.</p>
                                    </div>
                                </div>
                            </li>
                                        
                            <!-- Block -->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span></div>Can I switch between plans?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>Yes, you can upgrade or downgrade your plan at any time. If you upgrade, the new features will be available immediately. If you downgrade, the changes will take effect at the start of your next billing cycle.</p>
                                    </div>
                                </div>
                            </li>
                            
                            <!-- Block -->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span></div>Is there a discount for multiple children?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>Yes, we offer a 10% discount for each additional child from the same family. Please contact us for more details on how to apply this discount to your account.</p>
                                    </div>
                                </div>
                            </li>
                            
                            <!-- Block -->
                            <li class="accordion block">
                                <div class="acc-btn"><div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span></div>What's your refund policy?</div>
                                <div class="acc-content">
                                    <div class="content">
                                        <p>We offer a 14-day money-back guarantee for all new subscribers. If you're not satisfied with our services within the first 14 days, you can request a full refund with no questions asked.</p>
                                    </div>
                                </div>
                            </li>
                        
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End FAQ Section --> 